/* product-list.component.scss */

.mat-mdc-form-field{
  margin-right: 2%;
}


.overlay {

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.overlay svg {
  position: relative;
  top: 40%;
  left: 45%;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .product-card mat-card {
    width: 300px;
    text-align: left;
  }
  
  .product-image {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 16px;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  